.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* mobile menu */
.mobile-header .mobile_content {
    display: none;
}
.mobile-logo {
    width: 65px;
}
.open-menu-header {
    display: flex;
    align-items:center;
    margin-bottom: 30px;
}
.open-menu-header .mobile-logo {
    margin-right: 30px;
}
.mobile-header-title {
    font-family: "Adigiana2";
    font-size: 24px;
    color: #827261;
    margin: 0;
}
.mobile-menu {
    display: none;
    flex-direction: column;
    max-width: 200px;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding: 40px 66px 40px 40px;
    position: absolute;
    top: 0;
    right: -900px;
    z-index: 3;
}
.mobile-menu-active {
    display: flex;
    right: 0;
}
.mobile-menu-overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgba(0,0,0,0.5);
    display: none;
    top: 0;
    left: 0;
    z-index: 2;
}
.mobile-menu-items {
    display: flex;
    flex-direction: column;
}
.mobile-menu-items .menu-item {
    font-family: 'Adigiana2';
    text-decoration: none;
    color: #827261;
    font-size: 24px;
    margin-bottom: 25px;
}
.mobile-card {
    display: flex;
    align-items: center;
}
.mobile-card-title {
    font-size: 24px;
    font-family: "Adigiana2";
    color: #827261;
    margin-right: 10px;
    margin: 0;
}
.moblie-card-icon {
    width: 28px;
}
.mobile-menu .contacts {
    display: flex;
    flex-direction:column;
    margin-top: 30px;
}
.mobile-menu .contacts .phone {
    color: #827261;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    margin: 0;
    margin-bottom: 10px;
}
/* Mobile menu */
.header-content .nav-bar {
    display: flex;
    justify-content: space-between;
    max-width: 615px;
    width: 100%;
}
.header-content .nav-bar .menu-item {
    font-family: 'Adigiana2';
    text-decoration: none;
    color: #827261;
    font-size: 30px;
}
.header-content .contacts {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.header-content .contacts .phone {
    color: #827261;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    margin: 0;
}
.header-content .right-side {
    display: flex;
}
.header-content .right-side .card {
    cursor: pointer;
}

.main-content .container .filters {
    display: flex;
    flex-direction: column;
    max-width: 220px;
    width: 100%;    
    height: 750px;
}
.main-content .container .cards .sorting {
    display: flex;
}
.main-content .container .cards .sorting .sorting-text {
    color: #827261;
    margin-left: 0px;
}
.sorting-raw {
    display: flex;
    align-items: center;
}
.filter-btn {
    display: none;
    align-items: center;
    text-decoration: none;
    background-color: #827261;
    color: #CFF69B;
    padding: 6px 8px;
    border-radius: 5px;
    margin-right: 15px;
}
.filter-icon {
    margin-right: 6px;
}
.left-container {
    display: flex;
    flex-direction: column;
    max-width: 1230px;
    width: 100%;
}
.card-item {
    margin-bottom: 22px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 18px;
    justify-content: space-between;
    width: 100%;
}
.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F7F6F0;
    max-width: 258px;
    width: 100%;
    align-items: center;
    border-radius: 15px;
    padding: 24px 16px;
}
.card-container:hover {
    -webkit-box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.1);
}
.card-photo {
    width: 70%;
}
.card-title {
    font-size: 16px;
    font-weight: 700;
    color: #9D8B77;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 184px;
    text-align: center;
}
.card-descr {
    font-size: 14px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 0;
}
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.price {
    color: #9D8B77;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}
.card-btn {
    color: #CFF69B;
    background-color: #827261;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 7px 25px;
    cursor: pointer;
}
.pagination {
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    margin-bottom: 100px;
    justify-content: center;
}
.pagination-item {
    border: solid 2px #827261;
    padding: 6px 10px;
    border-radius: 3px;
    margin: 10px;
    cursor: pointer;
}
.pagination-text {
    margin: 0;
    font-size: 20px;
}
.pagination-item:hover {
    background-color: #CFF69B;
}
.footer {
    background: #827261;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 60px 0px;
}
.footer-links {
    display: flex;
    justify-content: space-between;
    max-width: 922px;
    width: 100%;
}
.links-list {
    display: flex;
    flex-direction: column;
}
.link-title {
    font-weight: 700;
    font-size: 24px;
    color: #CFF69B;
}
.footer-link {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: #CFF69B;
    margin-bottom: 15px;
}
.footer-link:last-child {
    margin: 0;
}
.form-title {
    font-family: 'Adigiana2';
    font-size: 24px;
    color: #CFF69B;
}
.email-input {
    padding: 9px 0px 9px 15px;
    border-radius: 10px;
    border: 1px solid #CFF69B;
    outline: none;
}
.email-input::placeholder {
    font-family: 'Adigiana2';
    color: #000;
    opacity: 0.3;
}
.subscribe-btn {
    font-family: 'Adigiana2';
    color: #9D8B77;
    background-color: #CFF69B;
    font-size: 20px;
    border: none;
    padding: 7px 17px;
    border-radius: 10px;
    cursor: pointer;
}
.social-icons {
    margin-top: 17px;
}
.insta-icon {
    margin-right: 20px;
    cursor: pointer;
}
.facebok-icon {
    cursor: pointer;
}
.category {
    display: flex;
    align-items: center;
}
.categiry-item {
    color:#827261;
    font-size: 18px;
    margin: 0;
}
.amount {
    font-size: 10px;
    color: #A6A5A5;
    margin: 0;
}
.filter-block {
    border-top: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    padding-top: 15px;
}
.filter-block:last-child {
    border-bottom: none;
}
.filter-item {
    margin-top: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}
.filters-label {
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
    margin-bottom: 15px;
}
.checkbox {
    display: none;
}
.fake {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 1px solid #827261;
    position: relative;
    border-radius: 2px;
    cursor: pointer;
}

.fake::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 15px;
    height: 15px;
    background-color: #CFF69B;
    opacity: 0;
    border-radius: 1px;
    transition: 0.2s;
}
.fake::after {
    content: "";
    background: url("../img/chek.svg");
    position: absolute;
    width: 13px;
    height: 13px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    opacity: 0;
    transition: 0.2s;
}

.checkbox:checked + .fake::before,
.checkbox:checked + .fake::after {
    opacity: 1;
}
.filter-text {
    font-size: 15px;
    margin-right: 11px;
    margin-left: 12px;
}
.filter-item:first-child {
    margin: 0;
}

/* Range slider */

#form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 202px;
    padding: 20px;
}
.bar {
    margin-bottom: 20px;
    padding: 10px 0;
}
.flex {
    display: flex;
}
.button {
    background: #CFF69B;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 4px;
    margin: auto;
    cursor: pointer;
    transition: .3s;
}
.button:hover {
    background: #CFF69B;
}
.label {
    color: #777777;
    margin-bottom: 8px;
}
/* noUiSlider styles */

.noUi-connect {
    background: #CFF69B;
    border: none;
}

.noUi-touch-area {
    width: 20px;
    height: 20px;
    background-color: #827261;
    border-radius: 3px;
}
.noUi-horizontal .noUi-handle  {
    background-color: transparent;
    box-shadow: none;
    border: none;
    width: 0px;
    height: 0px;
}
.noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    top: -9px;
}
.noUi-handle:before, .noUi-handle:after {
    display: none;
}
#slider {
 max-width: 190px;
 width: 100%;
}
/* range slider */
.price-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.price-filter-input {
    width: 30px;
    padding: 5px 10px;
    color: #000 !important;
    outline: none;
    text-align: center;
}
.price-filter .spacer {
    width: 17px;
    height: 1px;
    background-color: #827261;
    display: block;
    margin-right: 10px;
    margin-left: 10px;
}
.price-filter-btn {
    border: none;
    background: #827261;
    color: #CFF69B;
    padding: 6.5px 12px;
    border-radius: 3px;
    margin-left: 12px;
    cursor: pointer;
}
.price-filter-input::placeholder {
    color: #000 !important ;
    font-family: 'Montserrat';
}
/* Mobile filters */
.mob-filters {
    display: none;
    flex-direction: column;
    max-width: 240px;
    width: 100%;
    height: 100vh;
    position: absolute;
    background: #fff;
    padding: 0px 20px 30px 40px;
    top: 0;
    left: -500px;
    z-index: 5;
}
.mob-filters-active {
    display: flex;
    top: 0;
    left: 0;
}
.mobile-filters .filter-block {
    border: none;
}
/* Mobile filters */

@media (max-width:1500px) {
    .filters {
        margin-right: 20px;
    }
    .card-container {
        max-width: 220px;
    }
    .card-container .price {
        font-size: 18px;
    }
    .card-container .card-btn {
        font-size: 18px;
    }
    .footer-content {
        max-width: 1100px;
        width: 100%;
    }
    .footer-links {
        max-width: 700px;
    }
    .footer-links .links-list .link-title {
        font-size: 18px;
    }
    .footer-links .links-list .footer-link {
        font-size: 14px;
    }
}
@media (max-width: 1281px) {
    .card-container {
        max-width: 185px;
        padding: 16px 12px;
    }
    .pagination {
        margin-top: 50px;
        margin-bottom: 80px;
    }
    .card-container .price {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .card-container .card-btn {
        font-size: 22px;
    }
    .card-container .card-footer {
        flex-direction: column;
    }
    .card-container .card-descr {
        text-align: center;
    }
}
@media (max-width: 1080px) {
    .header-content {
        display: none;
    }
    .mobile-header .mobile_content {
        display: flex;
    }
    .main-content .container .filters-desctop {
        display: none;
    }
    .filter-btn {
        display: flex;
    }
    .mob-filters {
        display: flex;
    }
    .card-container {
        max-width: 200px;
    }
    .footer-links {
        max-width: 550px;
    }
}
@media (max-width: 1001px) {
    .card-container {
        max-width: 150px;
    }
    .card-container .card-title {
        font-size: 14px;
    }
    .card-container .card-descr {
        margin-bottom: 15px;
        font-size: 12px;
    }
    .card-container .card-footer .price {
        font-size: 18px;
    }
    .card-container .card-footer .card-btn {
        font-size: 18px;
    }
    .footer-content {
        flex-direction: column;
    }
    .footer-links {
        margin-bottom: 30px;
    }
}
@media (max-width: 761px) {
    .card-container {
        max-width: 235px;
    }
}
@media (max-width: 581px) {
    .card-container {
        max-width: 175px;
    }
    .sorting-raw {
        justify-content: space-between;
    }
    .footer-content {
        flex-direction: column-reverse;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .footer-links {
        flex-direction: column;
    }
    .links-list {
        margin-bottom: 15px;
    }
    .links-list:last-child {
        margin-bottom: 0;
    }
}
@media (max-width: 461px) {
    .card-container {
        max-width: 130px;
    }
    .card-container .card-title {
        font-size: 12px;
    }
    .card-container .card-descr {
        margin-bottom: 15px;
        font-size: 10px;
    }
    .email-input {
        max-width: 150px;
    }
    .insta-icon {
        width: 40px;
    }
    .facebok-icon {
        width: 40px;
    }
}
@media (max-width: 350px) {
    .email-input {
        max-width: 120px;
    }
}