.big-slide {
    max-width: 683px;
    height: auto;
}
.slider-for {
    margin-bottom: 20px;
    max-width: 683px;
}
.slider-nav {
    max-width: 683px;
}
.slider-nav .product2 {
    height: auto;
    margin-right: 13px;
}
.slider-nav .product2 .nav-slide {
    width: 100%;
}
.goods-content {
    display: flex;
}
.info {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.good-title {
    margin: 0;
    font-size: 30px;
    color: #827261;
}
.good-descr {
    font-size: 18px;
    color: #827261;
}
.sorting-size {
    display: none;
}
.size-label {
    display: flex;
    margin-top: 11px;
}
.size-item {
    display: flex;
    align-items: center;
    margin-right: 23px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;   
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;       
    user-select: none;                                  
}
.radio {
    display: none;
}
.fake-radio {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid #827261;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
}

.fake-radio::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 10px;
    height: 10px;
    border: solid 1px #66B200;
    background-color: #CFF69B;
    opacity: 0;
    border-radius: 50%;
    transition: 0.2s;
}
.fake-radio::after {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    opacity: 0;
    transition: 0.2s;
}

.radio:checked + .fake-radio::before,
.radio:checked + .fake-radio::after {
    opacity: 1;
}

.radio-text {
    font-size: 18px;
    font-weight: 700;
    color: #827261;
    margin-right: 11px;
    margin-left: 12px;
}
.color {
    margin-top: 10px;
}
.good-price {
    margin-top: 20px;
}
.good-title_price {
    margin: 0;
    font-size: 30px;
    color: #827261;
    font-weight: 700;
}
.old-price {
    font-size: 24px;
    color: #827261;
    opacity: 0.6;
    text-decoration-line: line-through;
    margin-bottom: 0;
    margin-top: 10px;
}
.main-price {
    font-size: 35px;
    font-weight: 700;
    color: #F84147;
    margin: 0;
}
.purchase {
    display: flex;
    max-width: 505px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.purchase-title {
    font-size: 24px;
    font-weight: 700;
    color: #827261;
}
.purchase-counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 47px;
    border: solid 1px #827261;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.purchase-amount {
    font-size: 30px;
    font-weight: 700;
    color: #827261;
    margin: 0;
    margin-right: 30px;
    margin-left: 30px;
}
.purchase-btn {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 10px 22px;
    background-color: #9D8B77;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}
.purchase-icon {
    margin-right: 10px;   
    width: 20px; 
}
.delivary-content {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.payment-info {
    max-width: 650px;
}
.payment-title {
    font-size: 30px;
    font-weight: 700;
    color: #827261;
}
.delivary-title {
    font-size: 30px;
    font-weight: 700;
    color: #827261;
}
.delivery-info {
    max-width: 650px;
}
.more {
    margin-bottom: 20px;
}
.more-goods {
    margin-bottom: 100px;
    margin-top: 60px;
}
.more-slider {
    display: flex;
    max-width: 1320px;
    margin: 0 auto;
}
.more-item {
    display: flex;
    background-color: #F7F6F0;
    border-radius: 10px;
    max-width: 442px;
    width: 100%;
    padding: 24px;
    margin-right: 15px;
    margin-left: 15px;
}
.more-img {
    margin-right: 20px;
    width: 120px;
}
.more-goods-title {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: #827261;
}
.more-goods-descr {
    font-size: 14px;
    color: #827261;
}
.more-item-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.more-price {
    margin: 0;
    color: #9D8B77;
    font-size: 13px;
    font-weight: 700;
}
.more-btn {
    display: flex;
    align-items: center;
    border: none;
    font-size: 14px;
    background-color: #827261;
    color: #CFF69B;
    padding: 8px 13px;
    border-radius: 10px;
}
.slick-initialized .slick-slide {
    display: flex !important;
}

@media (max-width: 1440px) {
    .more-slider {
        max-width: 1200px;
        margin: 0 auto;
    }
    .slider-cards-product1 {
        max-width: 600px;
    }
    .big-slide {
        max-width: 600px;
    }
    .slider-nav {
        width: 600px;
    }
    .more-img {
        width: 80px;
    }
    .good-title {
        font-size: 24px;
    }
    .good-descr {
        font-size: 16px;
    }
    .good-title_price {
        font-size: 24px;
    }
}
@media (max-width: 1320px) {
    .more-slider {
        max-width: 1000px;
    }
    .slider-cards-product1 {
        max-width: 500px;
    }
    .big-slide {
        max-width: 500px;
    }
    .slider-nav {
        width: 500px;
    }
    .fake-radio {
        width: 16px;
        height: 16px;
    }
    
    .fake-radio::before {
        width: 8px;
        height: 8px;
    }
    .fake-radio::after {
        width: 8px;
        height: 8px;
    }
    .old-price {
        font-size: 18px;
    }
    .main-price {
        font-size: 24px;
    }
    .purchase-title {
        font-size: 18px;
    }
    .purchase-amount {
        font-size: 24px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .purchase-btn {
        font-size: 24px;
    }
    .purchase-icon {
        width: 24px;
    }
    .payment-text {
        font-size: 14px;
    }
    .delivery-text {
        font-size: 14px;
    }
}
@media (max-width: 1120px) {
    .more-slider {
        max-width: 900px;
    }
    .fake-radio {
        width: 12px;
        height: 12px;
    }
    .fake-radio::before {
        width: 6px;
        height: 6px;
    }
    .fake-radio::after {
        width: 6px;
        height: 6px;
    }
    .radio-text {
        font-size: 14px;
    }
    .good-title {
        font-size: 20px;
    }
    .good-descr {
        font-size: 14px;
    }
    .old-price {
        font-size: 16px;
    }
    .main-price {
        font-size: 24px;
    }
    .payment-info {
        margin-left: 10px;
    }
}
@media (max-width: 1080px) {
    .goods-info {
        margin-top: 30px;
    }
}
@media (max-width: 1030px) {
    .slider-cards-product1 {
        max-width: 420px;
    }
    .big-slide {
        max-width: 420px;
    }
    .slider-nav {
        width: 420px;
    }
    .more-slider {
        max-width: 780px;
    }
    .size-item {
        display: none;
    }
    .sorting-size {
        display: block;
    }
    .info {
        margin-left: 20px;
    }
    .payment-info {
        margin-right: 10px;
    }
}
@media (max-width: 900px) {
    .goods-content {
        flex-direction: column;
    }
    .info {
        margin-left: 0;
        margin-top: 30px;
    }
    .more-slider {
        max-width: 500px;
    }
    .slider-cards-product1 {
        max-width: 500px;
    }
    .big-slide {
        max-width: 500px;
    }
    .slider-nav {
        width: 500px;
    }
    .delivary-content {
        flex-direction: column;
    }
    .payment-info {
        margin: 0;
    }
}
@media (max-width: 620px) {
    .more-slider {
        max-width: 400px;
    }
    .more-slider .slick-prev {
        width: 35px;
        height: 35px;
        background-size: cover;

    }
    .more-slider .slick-next {
        width: 35px;
        height: 35px;
        background-size: cover;

    }
}

@media (max-width: 520px) {
    .slider-cards-product1 {
        max-width: 320px;
    }
    .big-slide {
        max-width: 320px;
    }
    .slider-nav {
        width: 320px;
    }
    .more-slider {
        max-width: 300px;
    }
    .more-slider .slick-prev {
        width: 35px;
        height: 35px;
        background-size: cover;
        left: -25px;
    }
    .more-slider .slick-next {
        width: 35px;
        height: 35px;
        background-size: cover;
        right: -25px;
    }
    .more-item {
        padding: 12px;
    }
    .more-img {
        width: 50px;
        margin-right: 5px;
    }
    .more-goods-title {
        font-size: 14px;
    }
    .more-goods-descr {
        font-size: 12px;
    }
    .purchase-btn{ 
        padding: 8px 12px;
        font-size: 18px;
    }
    .purchase-counter {
        height: 37px;
    }
    .purchase-amount {
        font-size: 18px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .counter-plus {
        width: 22px;
    }
    .counter-minus {
        width: 22px;
    }
}

@media (max-width: 370px) {
    .purchase {
        flex-direction: column;
        align-items: start;
    }
    .purchase-btn {
        margin-top: 18px;
    }
}

@media (max-width: 350px) {
    .slider-cards-product1 {
        max-width: 280px;
    }
    .big-slide {
        max-width: 280px;
    }
    .slider-nav {
        width: 280px;
    }
    .more-item {
        flex-direction: column;
        align-items: center;
    }
    .more-img {
        width: 80px;
        margin-bottom: 15px;
    }
    .more-slider {
        max-width: 280px;
    }
}