.order-content {
    margin-bottom: 110px;
}
.delivary-form {
    display: flex;
    justify-content: space-between;
}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 715px;
    width: 100%;
}
.paymetn-title {
    font-size: 30px;
    font-weight: 700;
    color: #9D8B77;
    margin: 0;
    margin-bottom: 30px;
}
.payments-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.cash-pay-btn {
    display: flex;
    align-items: center;
    font-size: 16px;
    background-color: #F7F6F0;
    border: none;
    border-radius: 10px;
    padding: 20px 68px;
    font-weight: 700;
    color: #9D8B77;
    cursor: pointer;
}
.cash-pay-btn_active {
    display: flex;
    align-items: center;
    font-size: 16px;
    background-color: #9D8B77;
    border: none;
    border-radius: 10px;
    padding: 20px 68px;
    font-weight: 700;
    color: #CFF69B;
    cursor: pointer;
}
.cash-icon {
    margin-right: 10px;
}
.cash-icon path {
    fill: #9D8B77;
}
.cash-pay-btn_active .cash-icon path {
    fill: #CFF69B;
}
.card-pay-btn_in-active {
    display: flex;
    align-items: center;
    font-size: 16px;
    background-color: #F7F6F0;
    border: none;
    border-radius: 10px;
    padding: 20px 68px;
    font-weight: 700;
    color: #9D8B77;
    cursor: pointer;
}
.payment-cart-icon {
    margin-right: 10px;
}
.payment-cart-icon path{
    fill: #9D8B77;
}

.cahs-pay-btn_in-active {
    display: flex;
    align-items: center;
    font-size: 16px;
    background-color: #F7F6F0;
    border: none;
    border-radius: 10px;
    padding: 20px 68px;
    font-weight: 700;
    color: #9D8B77;
    cursor: pointer;
}

.card-pay-btn_active {
    display: flex;
    align-items: center;
    font-size: 16px;
    background-color: #9D8B77;
    border: none;
    border-radius: 10px;
    padding: 20px 68px;
    font-weight: 700;
    color: #CFF69B;
    cursor: pointer;
}
.user-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.input-title {
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
}
.order-form {
    display: flex;
    flex-direction: column;
    max-width: 715px;
    width: 100%;
}
.user-info .order-form__input {
    width: 340px;
    padding: 5px 0px 5px 5px;
    border-radius: 5px;
    border: 1px solid #9D8B77;
}
.order-commetn {
    border: 1px solid #9D8B77;
    border-radius: 5px;
    width: 99.3%;
    margin-bottom: 55px;
}
.confirm-order {
    padding: 12px;
    font-size: 30px;
    font-weight: 700;
    color: #CFF69B;
    border: none;
    border-radius: 10px;
    background-color: #9D8B77;
}
.small-cart {
    display: flex;
    flex-direction: column;
    max-width: 410px;
    width: 100%;
    max-height: 825px;
    border-left:2px solid #827261;
    padding-left: 25px;
   
}
.order-items::-webkit-scrollbar {
    width: 5px; /* ширина для вертикального скролла */
    height: 5px; /* высота для горизонтального скролла */
    background-color: #827261;
}

/* ползунок скроллбара */
.order-items::-webkit-scrollbar-thumb {
    background-color: #CFF69B;
    border-radius: 9em;
}
.order-items {
    overflow-y: scroll;
    overflow-x: hidden;
}
.order-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F7F6F0;
    border-radius: 10px;
    max-width: 380px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}
.order-item-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 21px 21px 21px;
}
.order-item-photo {
    width: 85px;
}
.small-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.small-order__title {
    font-size: 15px;
    font-weight: 700;
    color: #9D8B77;
    margin: 0;
    margin-bottom: 15px;
}
.item-coutn-price {
    display: flex;
    justify-content: space-between;
}

.small-counter {
    display: flex;
    align-items: center;
}
.small-count {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    margin-right: 10px;
    margin-left: 10px;
    color: #9D8B77;
}
.small-count-btn {
    width: 20px;
    cursor: pointer;
}
.small-price {
    font-size: 16px;
    font-weight: 700;
    color: #9D8B77;
    margin: 0;
}
.dump-icon {
    margin-left: auto;
    padding: 10px 10px 0px 0px;
    cursor: pointer;
}
.total {
    display: flex;
    justify-content: space-between;
    background-color: #9D8B77;
    padding: 18px 27px;
    border-radius: 10px;
    margin-top: 25px;
}
.total-title {
    font-size: 20px;
    font-weight: 700;
    color: #CFF69B;
    margin: 0;
}