@import "./fonts.css";
@import "./normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "./catalog.css";
* {
    font-family: 'Montserrat', sans-serif;
}
*::-webkit-scrollbar {
    width: 9px; /* ширина для вертикального скролла */
    height: 9px; /* высота для горизонтального скролла */
    background-color: #827261;
}

/* ползунок скроллбара */
*::-webkit-scrollbar-thumb {
    background-color: #CFF69B;
    border-radius: 9em;
}
.container {
    display: block;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}
.row-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media (max-width: 1500px) {
    .container {
        max-width: 1450px;
        width: 100%;
    }
}

@media (max-width: 1369px) {
    .container {
        max-width: 1300px;
        width: 100%;
    }
}